<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxz.android.disguise.videoview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
